* {
    box-sizing: border-box;
}

.main-body {
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(180deg, to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    padding-top:5%;
}
    
.facebook-color {
    color: royalblue;
    padding: 10px;
}

.text-below {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.wrapper {
    /* top: 50%; */
    padding: 60px 0;
}

@media (max-width: 576px) { 
    .wrapper {
        padding: 0px;
    }
     }

.index-button {
    width: 250px;
    margin-top: 40px;
}

.logo {
    width: 150px;
    height: 80px;
}

.index-p {
    color: #fff;
}

.fa-color {
    color: #fff;
   float: right;
   /* margin: 0px; */
   padding-top: 4px;
}

.form-wrap {
    height: 500px;
    width: 400px;
    margin: 0px auto;
}

@media (max-width: 576px) { 
.form-wrap {
    height: 450px;
    width: 300px;
    margin: 0px auto;
}
 }

.login-register-button {
    width: 250px;
    margin-top: 10px;
    margin-left: 60px;
}

@media (max-width: 576px) { 
    .login-register-button {
        width: 250px;
        margin-top: 20px;
        margin-left: 10px;
    }
     }

     /*making slant hr*/
     .incline-line{
        width: 20%;
        margin: auto;
        margin-top: 2%;
        margin-bottom: 3%;
        transform: rotate(10deg);
        border-color: #fff;
    }

    .incline-line2{
        width: 20%;
        margin: auto;
        margin-top: 2%;
        margin-bottom: 3%;
        transform: rotate(-10deg);
        border-color: #fff;
    }
    /*slant hr ends*/

    .logina {
        text-decoration: none;
        color: #fff;
    }

    a :hover {
        text-decoration: none;
        color: #fff;
    }
    
    .reg-input {
        width: 200px;
    }

.form-title {
    margin-bottom: 20px;
}

.hrl {
    margin: auto;
    width: 50%;
    border-color: #fff;
    margin-bottom: 30px;
}